/* Import a Google Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* General styles */
html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    background-color: #f4f4f4;
    color: #333;
}

h1, h2 {
    color: #444;
    margin-bottom: 0.5rem;
}

p {
    margin-bottom: 1.5rem;
}

/* Header styles */
header {
    background: #ffffff;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin-right: 1rem;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #444;
    text-decoration: none;
    font-weight: 700;
    padding: 0.5rem 0;
    position: relative;
    display: inline-block;
}

nav ul li a:hover::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: #444;
}



section {
    margin-bottom: 2rem;
}

/* Footer styles */
footer {
    background: #ffffff;
    padding: 1rem 2rem;
    text-align: center;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}




/* Main content styles */
main {
    padding: 2rem;
    max-width: 1200px; /* Set max-width back to the original value */
    margin: 0 auto;
}

/* Projects styles */
.project {
    display: block;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 auto 2rem auto; /* Center the project card */
    text-decoration: none;
    color: inherit;
    width: 100%; /* Set the width to 100% */
}

.project:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.project-title {
    padding: 1rem 2rem;
}

.project-content {
    display: flex;
    align-items: center;
}

.image-box {
    width: 40%; /* Decrease the width to 40% */
    padding: 0 1rem 1rem 1rem;
}

.project img {
    display: block;
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1; /* Set the aspect-ratio to 1:1 to make the image a square */
    object-fit: cover;
}

.project-description {
    padding: 2rem;
    width: calc(60% - 1rem); /* Increase the width to 60% */
}

.project p {
    margin: 0;
}



/* Footer styles */
/* ... */

.socials a.social-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #007bff;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.socials a.social-btn:hover {
    background-color: #0056b3;
    color: #fff;
    text-decoration: none;
}

.socials a.social-btn i {
    margin-right: 0.5rem;
}
