/* Import a Google Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* variables for colors */
:root {
    --blue: #1e90ff;
    --white: #ffffff;
    --light_orange: #ffcc80; 
    --dark_orange: #ff9900;
    --light_grey: #918d8d;
    --dark_grey: #4d4747;
    --dark: #333;
  }

/* General styles */
html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    background-color: var(--dark);
    color: #333;
}

h1, h2 {
    color: var(--dark_orange);
    margin-bottom: 0.5rem;
}

p {
    margin-bottom: 1.5rem;
}




/* Header styles */
header {
    background: var(--dark_grey);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin-right: 1rem;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: var(--dark_orange);
    text-decoration: none;
    font-weight: 700;
    padding: 0.5rem 0;
    position: relative;
    display: inline-block;
}

nav ul li a:hover::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: var(--dark_orange);
}



section {
    margin-bottom: 2rem;
}

/* Footer styles */
footer {
    background: var(--dark_grey);
    padding: 1rem 2rem;
    text-align: center;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}




/* Main content styles */
main {
    padding: 2rem;
    max-width: 1200px; /* Set max-width back to the original value */
    margin: 0 auto;
}

/* Projects styles */

  
.project-title {
    margin: 0; /* Remove the default margin */
    padding-bottom: 1rem; /* Add padding to the bottom of the title */
    color: var(--dark_orange);
}
  
.project-content-wrapper {
    background-color: var(--light_grey); /* Set the background color to orange */
    border-radius: 4px; /* Add rounded corners */
    overflow: hidden; /* Add this line to prevent overflow */
}

.project {
    display: block;
    background-color: var(--dark_grey);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 auto 2rem auto; /* Center the project card */
    text-decoration: none;
    color: inherit;
    width: 100%; /* Set the width to 100% */
    padding: 1rem;
}

.project:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}



.project-content {
    display: flex;
    align-items: center;
}

.image-box {
    width: 50%;
    padding: 1rem; /* Add padding to create a margin around the image */
}
  
.project-description {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem; /* Add padding to create a margin around the description */
}

.project img {
    display: block;
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1; /* Set the aspect-ratio to 1:1 to make the image a square */
    object-fit: cover;
    border-radius: 4px;
}



.project p {
    margin: 0;
    color: var(--dark_orange);
}



/* Tags styles */
.tags {
    margin-top: 1rem;
}

.tag {
    display: inline-block;
    background-color: #ffa500; /* Set the background color to orange */
    color: #fff; /* Set the text color to white */
    padding: 0.25rem 0.5rem; /* Add some padding */
    border-radius: 4px; /* Add rounded corners */
    font-size: 0.75rem; /* Set the font size smaller */
    margin-right: 0.5rem; /* Add some space between tags */
    margin-bottom: 0.5rem; /* Add some space below tags */
}





/* Footer styles */
/* ... */

.socials a.social-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark_orange);
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    font-size: 1rem;
    transition: background-color 0.3s;
    text-decoration: none; /* Add this line to remove the underline from the text */
}

.socials a.social-btn:hover {
    background-color: var(--light_orange);
    color: #fff;
    text-decoration: none; /* Add this line to ensure no underline appears on hover */
}

.socials a.social-btn i {
    margin-right: 0.5rem;
}
