h1.title {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    margin: 5px;
}

.btn-group button {
    background-color: #04AA6D; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
  }
  
  .btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
  /* Clear floats (clearfix hack) */
  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Add a background color on hover */
  .btn-group button:hover {
    background-color: #3e8e41;
  }


body {
    background-color: rgb(114, 103, 103);
}

.column {
    flex: 33.33%;
    height: 200px;
    padding: 10px;
    margin: 5px;
    background-color: #cccccc;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    border-radius: 10px;
    }

.container {
    display: flex;
}	

.top-card {
    background-color: cadetblue;
    text-align: center;
    height: 150px;
    padding: 10px;
    margin: 5px;
    border: 10px;
    border-radius: 10px;
}